.tag {
  display: flex;
  align-items: center;
  height: 24px;
  margin: 2px 4px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  padding: 0 4px;

  .close-icon {
    margin-left: 3px;
    margin-top: 2px;
    font-size: 14px;
    cursor: pointer;
  }

  img {
    margin-right: 2px;
  }
}
